[Unit]
Description=Authelia Quadlet
Wants=nginx.service

[Container]
ContainerName=authelia
Image=docker.io/authelia/authelia:latest
Network=botcodes.network

Volume=%h/.local/containers/authelia/config:/config:ro
Volume=%h/.local/containers/authelia/notifications:/notifications
Volume=%h/.local/containers/authelia/secrets:/secrets:ro
Volume=%h/.local/containers/letsencrypt:/etc/letsencrypt:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
