[Unit]
Description=Filebrowser Quadlet
Requires=authelia.service
After=authelia.service

[Container]
ContainerName=filebrowser
Image=docker.io/filebrowser/filebrowser
Network=botcodes.network
IP=10.0.0.16

Volume=%h/.local/containers/filebrowser/serve:/srv
Volume=%h/.local/containers/filebrowser/database:/database
Volume=%h/.local/containers/filebrowser/config:/config:ro

[Service]
Restart=always

[Install]
WantedBy=default.target
