[Unit]
Description=Linking Quadlet
Wants=nginx.service

[Container]
ContainerName=linkding
Image=docker.io/sissbruecker/linkding:latest
Network=botcodes.network

Volume=%h/.local/containers/linkding:/etc/linkding/data
Environment=LD_SERVER_PORT=8009

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
