[Unit]
Description=Nginx Quadlet

[Container]
ContainerName=nginx
Image=docker.io/library/nginx
Network=botcodes.network

PublishPort=8443:443

Volume=%h/.local/containers/nginx/logs:/var/log/nginx
Volume=%h/.config/home-server/nginx/config:/etc/nginx:ro
Volume=%h/.config/home-server/nginx/sites-available:/etc/nginx/sites-available:ro
Volume=%h/.config/home-server/nginx/snippets:/etc/nginx/snippets:ro
Volume=%h/.local/containers/letsencrypt/:/etc/letsencrypt:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
