[Unit]
Description=Prosody Quadlet

[Container]
ContainerName=prosody
Image=docker.io/prosodyim/prosody:13.0
Network=botcodes.network

UserNS=keep-id
User=0:0
PodmanArgs=--passwd=false

Volume=%h/.local/containers/prosody/config:/etc/prosody
Volume=%h/.local/containers/prosody/data:/var/lib/prosody
Volume=%h/.local/containers/prosody/certs:/var/lib/prosody/certs:ro

Environment=DOMAIN=xmpp.botcodes.dev
Environment=PROSODY_VIRTUAL_HOSTS=xmpp.botcodes.dev
Environment=PROSODY_CERTIFICATES=/var/lib/prosody/certs
Environment=PROSODY_TURN_SECRET={{ prosody_turn_secret }}
Environment=PROSODY_TURN_HOST=coturn.botcodes.dev
Environment=PROSODY_TURN_PORT=3478
Environment=PROSODY_TURN_TLS_PORT=5349

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
