[Unit]
Description=Task.md Quadlet
Requires=authelia.service
After=authelia.service

[Container]
ContainerName=tasks-md
Image=docker.io/baldissaramatheus/tasks.md
Network=botcodes.network

UserNS=keep-id

Volume=%h/.local/containers/tasks.md/tasks:/tasks
Volume=%h/.local/containers/tasks.md/config:/config

Environment=PUID=1000
Environment=PGID=1000
Environment=PORT=8011

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
