table ip nat {
  chain prerouting {
    type nat hook prerouting priority dstnat;

    tcp dport 443 dnat to 10.10.0.2:8443

    # forgejo ssh
    tcp dport 2222 dnat to 10.10.0.2:2222

    # coturn
    tcp dport 3478 dnat to 10.10.0.2:3478
    udp dport 3478 dnat to 10.10.0.2:3478
    udp dport 49185-49200 dnat to 10.10.0.2:49185-49200

    # Headscale
    udp dport 6000 dnat to 10.10.0.2:6000
  }

  chain postrouting {
    type nat hook postrouting priority srcnat;

    oifname "wg0" ip daddr 10.10.0.2/32 masquerade
  }
}