[Unit]
Description=Nginx Quadlet

[Container]
ContainerName=nginx
Image=docker.io/library/nginx
Network=botcodes.network
IP=10.0.0.11

PublishPort=8080:80
PublishPort=5222:5222

Volume=%h/.local/containers/nginx/config:/etc/nginx:ro
Volume=%h/.local/containers/nginx/html:/usr/share/nginx/html:ro
Volume=%h/.local/containers/nginx/logs:/var/log/nginx

[Service]
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
