[Unit]
Description=Forgejo Quadlet
Wants=nginx.service

[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:14-rootless
Network=botcodes.network

Volume=%h/.local/containers/forgejo/data:/var/lib/gitea:rw
Volume=%h/.local/containers/forgejo/conf:/etc/gitea:rw
# Volume=/etc/timezone:/etc/timezone:ro
# Volume=/etc/localtime:/etc/localtime:ro

Environment=FORGEJO__server__DOMAIN=git.botcodes.dev
Environment=FORGEJO__server__ROOT_URL=https://git.botcodes.dev
Environment=FORGEJO__server__SSH_DOMAIN=git.botcodes.dev
Environment=FORGEJO__server__SSH_PORT=2222
Environment=FORGEJO__server__START_SSH_SERVER=true
Environment=FORGEJO__server__SSH_LISTEN_PORT=2222

[Service]
Restart=always

[Install]
WantedBy=default.target
