[Unit]
Description=Wireguard Quadlet
After=network-online.target

[Container]
ContainerName=wireguard-client
Image=wireguard-client.build

Network=botcodes.network
IP=10.0.0.10

Volume=%h/.local/containers/wireguard-client/config/wg_confs/public-server.conf:/etc/wireguard/wg0.conf

AddDevice=/dev/net/tun
AddCapability=NET_ADMIN

Sysctl=net.ipv4.ip_forward=1

Environment=PUID=0
Environment=PGID=0
Environment=TZ=Asia/Karachi

[Service]
Restart=always

[Install]
WantedBy=default.target

