[Unit]
Description=Caddy Quadlet

[Container]
ContainerName=caddy
Image=docker.io/library/caddy
Network=wireguard-server.container

Volume=%h/.local/containers/caddy/config:/config
Volume=%h/.local/containers/caddy/conf:/etc/caddy
Volume=%h/.local/containers/caddy/site:/srv
Volume=%h/.local/containers/caddy/data:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
