[Unit]
Description=FRP Client Quadlet

[Container]
ContainerName=frpc
Image=ghcr.io/fatedier/frpc:v0.67.0
Pod=minecraft.pod

Volume=%h/.local/containers/frpc/frpc.json:/frpc.json:ro

Exec=-c /frpc.json

[Service]
Restart=always

[Install]
WantedBy=default.target
