[Unit]
Description=Radicale Quadlet
Wants=nginx.service

[Container]
ContainerName=Radicale
Image=radicale.build
Network=botcodes.network
IP=10.0.0.18

Volume=%h/.local/containers/radicale/config:/etc/radicale
Volume=%h/.local/containers/radicale/data:/var/lib/radicale

[Service]
Restart=always

[Install]
WantedBy=default.target
