[Unit]
Description=MCPE Server Quadlet

[Container]
ContainerName=mcpe-server
Image=docker.io/lomot/minecraft-bedrock
# Pod=tailscale.pod
Network=tailscale-client.container

Volume=%h/.local/containers/mcpe-server:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
