[Interface]
Address = 10.10.0.1
ListenPort = {{ wireguard_server_port }}
PrivateKey = {{ wireguard_server_private_key }}

[Peer]
# peer1
PublicKey = {{ wireguard_peer_public_key }}
PresharedKey = {{ wireguard_peer_preshared_key }}
AllowedIPs = 10.10.0.2/32, 10.0.0.0/24